<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ugrokit.softkeyboard">

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application android:label="@string/ime_name"
                 android:name=".SoftKeyboardApp"
                 android:icon="@drawable/ic_launcher">
        <service android:name=".SoftKeyboard"
                 android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data android:name="android.view.im" android:resource="@xml/method" />
        </service>

    </application>
</manifest>
